/* @font-face {
    font-family: "Blanka Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Blanka Regular"),
      url("./Assets/Blanka-Regular.woff") format("woff");
  } */
  @import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  /* styling background */

  #bg-video>video{
    width: 100vw;
    /* height: 100vh; */
    z-index: -1;
}
#bg{
    width: 100vw;
    overflow: hidden;
    height: 100vh;
  }

  #content{
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
  
  }
  #content>div{
    z-index: 1;
  }

  /* styling logo  */

.logo{
    width: 8vw;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0 0 2vw 2vw;
    backdrop-filter: blur(9.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    cursor: pointer;
  }
  .logo>img{
    width: 85%;
    height: auto;
  }
  .logo>img:hover{
    transform: translateY(-2px);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.2s;
  }
  .logo:hover{
    width: 8vw;
    height: auto;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.50);
    border-radius: 0 0 2vw 2vw;
    backdrop-filter: blur(9.5px);
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  

/* styling canvas  */

.ludo-canvas{
    width: 35vw;
    height: 35vw;
    background-image: url("../Assets/Ludo\ Canvas1.png");
    background-size: contain;
    padding: 1.3%;
    /* margin: 0 3vw 0 0; */
}

#canvas{
  height: 35vw;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user{
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* styling player info area  */

.playerbtn{
  height: 3.3vw;
  width: 10vw;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(9.5px);
  border-radius: 1vh;
  /* border: 2px solid rgba(255, 255, 255, 0.1); */
  /* box-shadow: 1px 1px 2px 0.5px  rgba(255, 255, 255, 0.466); */
}
#playerbtn-1{
  background-image: linear-gradient(to bottom right,rgba(2, 165, 246, 0.3),rgba(255, 255, 255, 0.2));
}
#playerbtn-2{
  background-image: linear-gradient(to bottom right,rgba(2, 147, 41, 0.3),rgba(255, 255, 255, 0.2));
}
.playerbtn:hover{
  background-color: rgba(255, 255, 255, 0.35);
}
.highlight-btn{
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}
.player-icon{
  width: 4vh;
  height: auto;
  margin-right: 1vw;
}
.username{
  font-family: 'Changa', sans-serif;
  color: white;
  font-size: 100%;
}




/* styling Dice  */

#dice{
  width: 5vw;
  border-radius: 0.5vw;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(7px);
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#dice-btn:disabled{
  opacity: 0.7;
  cursor: none;
  /* background-color: transparent; */
}
#dice-btn{
  border: none;
  width: 5vw;
  height: 5vh;
  /* background-color: rgba(2, 165, 246, 0.6); */
  /* background-image: linear-gradient(to bottom right,rgba(2, 147, 41, 0.5),rgba(255, 255, 255, 0.2)); */
  backdrop-filter: blur(9.5px);
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 17%;
}
.dice-content{
  width: 90%;
}
#dice-area{
  display: flex;
  flex-direction: column;
  height: 18vh;
  justify-content: space-between;
}


/* styling additional buttons */

.setting-img{
  position: absolute;
  width: 3vw;
  top: 2vh;
  right: 2vh;
  z-index: 6;
}
.instruction-img{
  position: absolute;
  width: 3vw;
  top: 2vh;
  left: 2vh;
  z-index: 6;
}

/* styling instruction */

#body{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;

  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(9.5px);
}
.instruction{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 40%;
  height: 80%;
  border-radius: 2vw;
  background-color: rgba(255, 255, 255, 0.3);
  /* backdrop-filter: blur(9.5px); */
  box-shadow: 1px 1px 2px 0.5px  rgba(255, 255, 255, 0.466);
  filter: drop-shadow(0px 1vw 10px rgba(0, 0, 0, 0.8));
}

p{
  font-size: 1.2vw;
  margin-bottom: 1vw;
  text-align: center;
}

h1,p{
  font-family: 'Changa', sans-serif;
  color: white;
}
h1{
  filter: drop-shadow(0px 0.5vw 5px rgba(0, 0, 0, 0.5));

}
.cancel-img1{
  position: absolute;
  width: 3vw;
  top: 2vh;
  right: 2vh;
}

/* styling settings  */

#settings{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
  
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(9.5px);
}
.setting{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 35%;
  border-radius: 2vw;
  background-color: rgba(255, 255, 255, 0.3);
  /* backdrop-filter: blur(9.5px); */
  box-shadow: 1px 1px 2px 0.5px  rgba(255, 255, 255, 0.466);
  filter: drop-shadow(0px 1vw 10px rgba(0, 0, 0, 0.8));
}
#options{
  height: 50%;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.option{
  color: black;
  padding-top: 10%;
}
.settingOpt{
  height: 3vw;
  width: 10vw;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(9.5px);
  border-radius: 1vh;
  background-color: rgba(255, 255, 255, 1)
}
.cancel-img2{
  position: absolute;
  width: 3vw;
  top: 2vh;
  right: 2vh;
}

/* styling UserData */

#userData{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */

  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(9.5px);
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 35%;
  border-radius: 2vw;
  margin-left: 3%;
  background-color: rgba(255, 255, 255, 0.3);
  /* backdrop-filter: blur(9.5px); */
  box-shadow: 1px 1px 2px 0.5px  rgba(255, 255, 255, 0.466);
  filter: drop-shadow(0px 1vw 10px rgba(0, 0, 0, 0.8));
}
.name{
  width: 90%;
  height: 50%;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
  border-radius: 0.5vw;
  border: none;
  padding-left: 10px;
  font-family: 'Changa', sans-serif;

}
.first,.second{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  width: 85%;
}
h3{
  color: white;
  font-family: 'Changa', sans-serif;
}
#playnow{
  background-image: linear-gradient(to bottom right,rgba(2, 165, 246, 0.5),rgba(21, 255, 0, 0.5));
  border: none;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
  font-size: 100%;
  font-family: 'Changa', sans-serif;
}




/* Main Game styling */

.ludo-canvas{
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerPieces{
  width: 96%;
  height: 96%;
  position: relative;
}

.player-piece{
  width: 4%;
  height: auto;
  position: absolute;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0));
  
}

.highlight{
  cursor: pointer;
  animation: scale 0.7s infinite linear;
}



@keyframes scale{
  0%{
    transform: scale(1);
    filter: drop-shadow(0 0 3px rgb(60, 255, 0));
  }
  50%{
    transform: scale(1.2);
    filter: drop-shadow(0 0 2px rgb(9, 90, 203));
  }
  100%{
    transform: scale(1);
    filter: drop-shadow(0 0 3px rgb(255, 255, 255));
  }
}

@media screen and (max-width: 431px) {
  #bg-video>video{
    /* position: ; */
    height: 100vh;
    /* width: 50%; */
    width: auto
  }
  .logo{
    width: 25vw;
    border-radius: 0 0 4vw 4vw;
  }
  #canvas{
    margin-top: 3vh;
    flex-direction: column;
    height: 85vh;
    width: 85vw;
  }
  .ludo-canvas{
    width: 85vw;
    height: 85vw;
    background-size: cover;
  }
  #user{
    height: 20vh;
    flex-direction: row;
    width: 97vw;
  }
  .playerbtn{
    width: 30vw;
    height: 6vh;
  }
  #dice{
    width: 15vw;
    height: 15vw;
    border-radius: 2vw;
  }
  #dice-btn{
    width: 15vw;
    padding-top: 7%;
  }
  #dice-btn>p{
    font-size: 3vh;
  }
  .setting-img,.instruction-img,.cancel-img1,.cancel-img2{
    width: 8vw;
  }
  .username{
    font-size: 4vw;
  }
  .player-icon{
    width: 3.2vh;
  }
  .playerPieces{
    width: 95%;
    height: 95%;
  }
  .instruction{
    width: 90%;
    height: 55%;
    background-color: transparent;
    backdrop-filter: none;
    box-shadow: none;
    filter: none;
  }
  p{
    font-size: 3.4vw;
    margin-bottom: 2vw;
  }
  .setting{
    width: 70%;
    height: 35%;
  }
  .settingOpt{
    width: 30vw;
    height: 6vh;
  }
  .box{
    width: 90%;
  }
}

@media screen and (max-width: 376px){
  #canvas{
    margin-top: 3vh;
    flex-direction: column;
    height: 85vh;
    width: 85vw;
  }
  .ludo-canvas{
    width: 95vw;
    height: 95vw;
    background-size: cover;
  }
}